*{
  text-align: center;
  margin: 0;
  padding: 0;
}

.container{
  background-color:white;
  height: 400px;
  border-radius: 5px;
}
.form-row{
  position: relative;
  font-weight: 500;
  margin:10px;
}

.form-row input{
  margin: 20px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  
}

.btn{
  padding: 10px 15px;
  margin-top: 50px;
  width: 200px;
  background-color: skyblue;
  font-weight: 700;
 
}