.topnav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background:skyblue;
  padding: 20px;
  margin: 0;
}

.topnav li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.header{
  height: 50px;
  background-color: black;
  padding-top: 20px;
}
.text{
  color: white;
  font-weight: 800;
}